header, section, footer, h1, a, img {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin:0;
  padding:0;
}

html {
  background: url('http://futurice.party/img-assets/bg-pattern.png');
}

body {
  font-family: 'Futurice Regular', sans-serif;
  font-size: 1em;
  position: relative;
  color: #fff;
  padding: 0;
  background-size: cover;
  background: rgba(74, 48, 146, .8);
  padding: 20px;
}

#main {
  min-height: 100vh;
  padding: 0;
}



#hero {
  width: 100%;
  color: #FFF;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  overflow: hidden;
}

#hero img {
  width: 50%;
}


h1, h2, h3 {
  margin: 0 0 20px;
  font-size: 1.5em;
  font-weight: normal;
  color: #FEF4B7;
}

h2, h3 {
  font-size: 1.2em;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  text-align: center;
}

footer a {
  color: #FEF4B7;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: normal;
  display: inline-block;
}

footer img {
  width: 100px;
}